# This workflow will run tests and then publish a package to JSR when a release is created.

name: JSR Package

on:
  release:
    types: [created]

jobs:
  test:
    uses: ./.github/workflows/test.yml

  publish:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install pnpm
        run: npm install pnpm -g

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to JSR
        run: npx jsr publish --config jsr.json
