# Publish to JSR.

name: JSR Package
on:
  push:
    branches:
      - main

jobs:
  publish-jsr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npx jsr publish
