# This workflow will run tests using deno and then publish a package to JSR.

name: JSR Package
on:
  push:
    branches:
      - main

jobs:
  publish-jsr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Publish JSR
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm install pnpm -g
      - run: pnpm install
      - run: npx jsr publish --config jsr.json
