# This workflow will run tests using deno and then publish a package to npm when a release is created.

name: Node.js Package npm

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Publish npm package
        uses: actions/setup-node@v6
        with:
          node-version: latest
          registry-url: https://registry.npmjs.org/
      - run: npm install pnpm -g
      - run: pnpm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
