# This workflow will run tests using deno and then publish a package to GitHub Packages when a release is created.
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package Github

on:
  release:
    types: [created]

jobs:
  publish-gpr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Publish Github package
        uses: actions/setup-node@v6
        with:
          node-version: latest
          registry-url: https://npm.pkg.github.com/
      - run: npm install pnpm -g
      - run: pnpm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
