# This workflow will run tests using node and then upload the coverage reports to Codecov.

name: Run Tests

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install pnpm
        run: npm install pnpm -g

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright
        run: pnpm run playwright:install

      - name: Run tests
        run: pnpm test

      - name: Upload coverage reports to Codecov
        if: github.workflow == 'Run Tests'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
