# This workflow will run tests using deno and then upload the coverage reports to Codecov.

name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Run test cases
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm install pnpm -g
      - run: pnpm install
      - run: pnpm run playwright:install
      - run: pnpm run test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
